@import "../../variables";

.container {
  @include responsive-container;

  padding-top: 4 * $space-unit;
  padding-bottom: 4 * $space-unit;
  color: black;
  font-family: $text-font;

  .title {
    @include section-text-title;
  }

  .streams {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5 * $space-unit 0;
    align-items: center;

    .callToAction,
    .streamDesctription {
      width: 560px;
      margin-top: $space-unit;
    }

    .callToAction {
      color: $primary;
    }
  }
}
