@import "../../variables";

$title-breakpoint: $breakpoint-m;

.container {
  @include responsive-container;
  background-color: white;
  display: flex;
  padding-top: 10 * $space-unit;
  padding-bottom: 10 * $space-unit;

  @media (max-width: $title-breakpoint) {
    flex-direction: column;
  }

  .informations {
    font-family: $title-font;
    max-width: 50%;

    @media (max-width: $title-breakpoint) {
      max-width: 100%;
    }

    .title {
      font-size: 50px;
      line-height: 50px;
      margin-bottom: 2 * $space-unit;
      font-weight: 600;
      text-transform: uppercase;
      white-space: nowrap;

      @media (max-width: $title-breakpoint) {
        font-size: 30px;
        line-height: 30px;
        white-space: unset;
      }

      .location {
        color: $primary;
      }
    }

    .subtitle {
      color: $steel-grey;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 3 * $space-unit;
      font-weight: 500;
    }

    .rendezVous {
      color: $primary;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 3 * $space-unit;
    }

    .button {
      text-decoration: none;
      color: white;
      padding: $space-unit;
      background-color: $primary;
      border-radius: 5px;
    }
  }

  .mobileTitleImageContainer {
    margin: 4 * $space-unit 0;
    display: flex;
    justify-content: center;

    img {
      width: 90%;
    }

    @media (min-width: $title-breakpoint) {
      display: none;
    }
  }

  .desktopTitleImage {
    max-width: 100%;

    @media (max-width: $title-breakpoint) {
      display: none;
    }
  }
}
