@import "../../variables";

.container {
  padding: 80px 24px;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  @media (min-width: $breaking-point) {
    flex-direction: row;
    padding: 80px 91px;
    justify-content: center;
  }
  background-color: white;
  display: flex;
  .informations {
    h1 {
      font-family: "Source Code Pro", monospace;
      font-size: 36px;
      line-height: 36px;
      margin-bottom: 16px;
      @media (min-width: $breaking-point) {
        font-size: 72px;
        line-height: 72px;
        margin-bottom: 32px;
      }
      font-weight: 600;
      text-transform: uppercase;
      .location {
        color: $primary;
      }
    }
    .subtitle {
      color: $steel-grey;
      font-family: "Source Code Pro", monospace;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 8px;
      font-weight: 500;
    }
    .rendezVous {
      color: $primary;
      font-family: "Source Code Pro", monospace;
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      margin-bottom: 32px;
    }
    .button {
      color: #ffffff;
      font-family: Lato;
      font-size: 14px;
      font-weight: bold;
      line-height: 17px;
      text-align: center;
      border: 0;
      padding: 8px;
      border-radius: 4px;
      background-color: $primary;
    }
  }
  .titleImageContainer {
    margin: 32px 0 0 0;
    text-align: center;
    @media (min-width: $breaking-point) {
      margin: 0 0 0 32px;
      text-align: left;
    }
    img {
      width: 100%;
      @media (min-width: $breaking-point) {
        margin: 0 0 0 32px;
        text-align: left;
        height: 100%;
      }
    }
  }
}
.callToAction {
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
  font-weight: 500;
  color: $charcoal-grey;
}
.contactForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  .submitButton {
    margin-left: 8px;
  }
}
