@import "../../variables";

.backgroundContainer {
  background-color: white;
  .container {
    @include adapt-width;
    padding: 80px 0;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    @media (min-width: $break-point-1to2) {
      flex-direction: row;
      padding: 160px 0 80px 0;
      justify-content: space-between;
      align-items: center;
    }
    display: flex;
    .informations {
      h1 {
        font-family: "Source Code Pro", monospace;
        font-size: 50px;
        line-height: 50px;
        margin-bottom: 16px;
        @media (min-width: $break-point-1to2) {
          font-size: 72px;
          line-height: 72px;
          margin-bottom: 32px;
        }
        font-weight: 600;
        text-transform: uppercase;
        .location {
          color: $primary;
        }
      }
      .subtitle {
        color: $steel-grey;
        font-family: "Source Code Pro", monospace;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 8px;
        font-weight: 500;
      }
      .rendezVous {
        color: $primary;
        font-family: "Source Code Pro", monospace;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 32px;
      }
      .button {
        color: #ffffff;
        font-family: Lato;
        font-size: 14px;
        font-weight: bold;
        line-height: 17px;
        text-align: center;
        border: 0;
        padding: 8px;
        border-radius: 4px;
        background-color: $primary;
        text-transform: uppercase;
        min-height: 40px;
        &:hover {
          background-color: $cornflower-two;
          cursor: pointer;
        }
      }
    }
    .mobileTitleImageContainer {
      margin: 32px 0;
      text-align: center;
      flex-grow: 1;
      @media (min-width: $break-point-1to2) {
        display: none;
      }
      img {
        width: 90%;
      }
    }
    .desktopTitleImageContainer {
      margin: 0 0 0 32px;
      text-align: left;
      visibility: visible;
      @media (max-width: $break-point-1to2) {
        display: none;
      }
      img {
        margin: 0 0 0 32px;
        text-align: left;
      }
    }
  }

  .callToAction {
    font-family: "Source Code Pro", monospace;
    font-size: 16px;
    font-weight: 500;
    color: $charcoal-grey;
    margin-bottom: 8px;
  }

  .contactForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    input {
      font-family: Lato;
      border-radius: 4px;
      border: solid $steel-grey 1px;
      padding: 4px 8px;
      width: 220px;
      min-height: 40px;
    }
    .submitButton {
      margin-left: 8px;
      padding: 10px 32px;
      min-height: 40px;
      &:hover {
        background-color: $cornflower-two;
        cursor: pointer;
      }

      font-size: 16px;
      line-height: 17px;
      font-weight: 500;
      font-family: Lato;
      font-weight: bold;
      text-transform: uppercase;

      text-align: center;
      color: #fff;
      background-color: $primary;

      border: 0;
      border-radius: 4px;
    }
  }
}
