@import "../../variables";

.container {
  @include responsive-container;

  color: #000;
  // background-color: #fff;
  font-family: "Lato", monospace;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  padding-top: 3 * $space-unit;
  padding-bottom: 3 * $space-unit;

  h2 {
    @include section-text-title;
  }

  .membersList {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    margin: 16px 0 0;

    .member {
      flex-basis: 24%;
      text-align: center;
      font-size: 15px;
      margin: 5px 0 16px;

      .memberJob {
        font-weight: initial;
      }
      .memberName,
      .memberCompany {
        text-transform: capitalize;
        font-weight: bold;
      }
    }
  }
}
