@import "../variables";

.talksList {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 32px ($mobile-margins - $talk-card-margin) 0 $mobile-margins;
  @media (min-width: $breaking-point) {
    padding: 80px ($desktop-margins - $talk-card-margin) 0 $desktop-margins;
  }
  padding: 32px 0 0 32px;
}
.talkHeader {
  margin: 0 $talk-card-margin $talk-card-margin 0;
  list-style: none;
  height: 350px;
  width: 398px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width: $breaking-point) {
    align-items: flex-start;
  }

  img {
    width: 147px;
    height: 177px;
  }
  h2 {
    font-family: "Source Code Pro", monospace;
    font-size: 40px;
    font-weight: bold;
    color: $charcoal-grey;
  }
}
