@import "../variables";

.talksList {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  max-width: $width-1column;
  @media (min-width: $break-point-1to2) {
    transform: translateX(16px);
    max-width: $width-2column + 32px;
    flex-direction: row;
  }
  @media (min-width: $break-point-2to3) {
    max-width: $width-3column + 32px;
  }
  @media (min-width: $break-point-3to4) {
    max-width: $width-4column + 32px;
  }
}
.talkHeader {
  list-style: none;
  width: 398px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 $mobile-margins 16px 0;
  flex-direction: row;
  @media (min-width: $break-point-1to2) {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 $talk-card-margin $talk-card-margin 0;
  }
  img {
    width: 147px;
    height: 177px;
    margin-right: 16px;
  }
  h2 {
    font-family: "Source Code Pro", monospace;
    font-size: 40px;
    font-weight: bold;
    color: $charcoal-grey;
  }
}
