@import "../../variables";

.container {
  @include responsive-container;

  color: #000;
  // background-color: #fff;
  font-family: "Lato", monospace;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  padding-top: 3 * $space-unit;
  padding-bottom: 3 * $space-unit;

  h2 {
    @include section-text-title;
  }
}

.close {
  background-color: #fff;
  text-align: right;
  padding: 24px 24px 0 0;
  button {
    background: none;
    border: none;
    :hover {
      cursor: pointer;
    }
    img {
      width: 24px;
      height: 24px;
    }
  }
}

.button {
  cursor: pointer;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  background: white;
  color: $primary;
  padding: 2 * $space-unit;
  font-weight: 800;
  text-transform: uppercase;
  white-space: nowrap;
  border-radius: 4px;
}

.responsiveModalContainer {
  height: 80vh;
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.responsideModaleIframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
