@import "../../variables";

.header {
  position: fixed;
  width: 100%;
  z-index: 101;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px $mobile-margins;

  @media (min-width: $break-point-1to2) {
    padding: 16px 32px;
  }
}

.shortcuts {
  @media (max-width: $break-point-1to2) {
    display: none;
  }
  margin: 0;

  li {
    list-style-type: none;
    text-transform: uppercase;
    display: inline;
    margin: 0 56px 0 0;
    font-family: "Lato", monospace;

    a {
      color: $charcoal-grey;
      font-size: 16px;
      font-weight: bold;
      text-decoration: none;
      padding: 15px 0;
    }
    
    .button {
      text-decoration: none;
      color: white;
      padding: $space-unit;
      background-color: $primary;
      border-radius: 5px;
    }
  }
}
