@import "../../variables";

.container {
  background-color:  #fff;
  @include responsive-container;

  color: black;
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  padding-top: 56px;
  padding-bottom: 56px;

  h2 {
    @include section-text-title;
    padding-bottom: 20px;
  }

  p {
    @include section-text;
  }


  .mediaLogos {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    img {
      stroke: transparent;
      align-self: center;
      text-align: center;
    }
  }
}

.modalContainer {
  margin-bottom: 30px;
  font-family: "Lato", monospace;
}

.modalLogo {
 height: 100px;
 align-self: center;
 padding: 10px 0px 10px 20px
}