@import "../../variables";

.container {
  margin: 0 0 $talk-card-margin-mobile 0;
  @media (min-width: $break-point-1to2) {
    margin: 0 $talk-card-margin-desktop $talk-card-margin-desktop 0;
  }
  list-style: none;
  height: $talk-card-height;
  width: $talk-card-width;
  border-radius: 4px;
  background-color: #ffffff;

  &:hover {
    box-shadow: 0 2px 20px 0 rgba(53, 62, 70, 0.15);
    transform: translate(5px, -5px);
    transition: transform 0.2s;
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
  .informationContainer {
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    .hour {
      padding: 7px 8px;
      font-family: Lato;
      font-size: 16px;
      color: $cornflower-two;
      border-radius: 4px;
    }
    .hourContainer {
      margin-bottom: 16px;
      border-radius: 2px;
    }
    .title {
      font-family: "Source Code Pro", monospace;
      font-size: 24px;
      font-weight: 600;
      line-height: 29px;
      margin-bottom: 16px;
    }
    .description {
      font-family: Lato;
      font-size: 16px;
      line-height: 21px;
      margin-bottom: 16px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

    }
    .descriptionContainer {
      flex-grow: 1;
    }
    .authorContainer {
      display: flex;
      flex-direction: row;
    }
    .authorTextContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 16px;
    }
    .author {
      color: $charcoal-grey;
      font-family: Lato;
      font-size: 20px;
      font-weight: bold;
      margin: 0px;
    }
    .company, .job {
      color: #9a9ea2;
      font-family: Lato;
      font-size: 14px;
      line-height: 17px;
      min-height: 17px;
    }
    .job {
      color: $charcoal-grey;
    }
  }
}

.isParty {
  position: relative;
  background-color: $primary;

  .informationContainer {
    padding: 32px;

    .descriptionContainer {
      padding: 0;
    }
  }

  .hour {
    color: $primary;
    background-color: #fff;
  }
  .title {
    color: #fff;
  }
  .description {
    color: #fff;
  }
}
.isNotParty {
  .informationContainer {
    height: 100%;

    .hour {
      color: $cornflower-two;
      background-color: rgba(98, 149, 255, 0.1);
    }
    .title {
      color: $charcoal-grey;
    }
    .description {
      color: #9a9ea2;
    }
  }
}

.partyPicture {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}
