@import "../../variables";

.container {
  margin: 0 0 $talk-card-margin-mobile 0;
  @media (min-width: $break-point-1to2) {
    margin: 0 $talk-card-margin-desktop $talk-card-margin-desktop 0;
  }
  list-style: none;
  height: $talk-card-height;
  width: $talk-card-width;
  border-radius: 4px;
  background-color: #ffffff;

  &:hover {
    box-shadow: 0 2px 20px 0 rgba(53, 62, 70, 0.15);
    transform: translate(5px, -5px);
    transition: transform 0.2s;
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }


  .hour {
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 100;
    background-color: rgba(98, 149, 255, 0.1);
    padding: 7px 8px;
    font-family: Lato;
    font-size: 16px;
    color: $cornflower-two;
    border-radius: 4px;
  }

  .cardContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    border-radius: 4px;
    
    img {
      border-radius: 4px 4px 0 0;
    }

    .hour{
      background-color: #fff;
    }

    .dataContainer {
      border-radius: 0 0 4px 4px;
      height: 150px;
      padding: 16px;
      font-family: Lato;
      background-color: #fff;

      .speaker {
        text-transform: uppercase;
        font-weight: bold;
        color: $primary;
        
        a {
          vertical-align: middle;
        }
      }

      .job {
        color: $charcoal-grey;
        font-family: Lato;
        font-size: 14px;
        line-height: 25px;
      }

      .title {
        font-family: "Source Code Pro", monospace;
        font-size: 18px;
        font-weight: 600;
        color: $primary;
        line-height: 25px;
      }
    }
  }
}

.isParty {
  position: relative;
  background-color: $primary;

  .cardContainer {
    padding: 32px;
    height: 350px;

    .descriptionContainer {
      margin-top: 56px;
      font-family: Lato;
    }
  }

  .title {
    color: #fff;
  }

  .description {
    color: #fff;
  }
}

.partyPicture {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}
