$break-point-1to2: 900px;

$primary: #5267ff;
$cornflower-two: #6295ff;
$charcoal-grey: #353e46;
$pale-grey: #eff4ff;
$steel-grey: #7c7f83;

$desktop-margins: 91px;
$mobile-margins: 16px;
$talk-card-margin-desktop: 32px;
$talk-card-margin-mobile: 16px;

$talk-card-height: 350px;
$talk-card-width: 398px;

$width-1column: $talk-card-width;
$width-2column: 2 * $talk-card-width + $talk-card-margin-desktop;
$width-3column: 3 * $talk-card-width + 2 * $talk-card-margin-desktop;
$width-4column: 4 * $talk-card-width + 3 * $talk-card-margin-desktop;

$break-point-1to2: $width-2column + 2 * $mobile-margins;
$break-point-2to3: $width-3column + 2 * $desktop-margins;
$break-point-3to4: $width-4column + 2 * $desktop-margins;

$breakpoint-sm: 480px;
$breakpoint-m: 900px;
$breakpoint-l: 1024px;
$breakpoint-xl: 1280px;

$space-unit: 8px;

$container-width-m: 820px;
$container-width-l: 980px;
$container-width-xl: 1200px;

$title-font: "Lato", monospace;
$text-font: "Lato", monospace;

@mixin adapt-width {
  // max-width: $width-1column;
  margin-right: $mobile-margins;
  margin-left: $mobile-margins;

  @media (min-width: $break-point-1to2) {
    margin-right: auto;
    margin-left: auto;
    max-width: $width-2column;
  }

  @media (min-width: $break-point-2to3) {
    max-width: $width-3column;
  }

  @media (min-width: $break-point-3to4) {
    max-width: $width-4column;
  }
}

@mixin responsive-container {
  // max-width: $width-1column;
  padding-right: $mobile-margins;
  padding-left: $mobile-margins;

  @media (min-width: $breakpoint-sm) {
    padding-right: 32px;
    padding-left: 32px;
  }
}

@mixin section-text {
  font-family: $title-font;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

@mixin section-text-title {
  font-family: $title-font;
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
}
