$breaking-point: 900px;

$primary: #5267ff;
$cornflower-two: #6295ff;
$charcoal-grey: #353e46;
$pale-grey: #eff4ff;
$steel-grey: #7c7f83;

$breaking-point: 1000px;

$desktop-margins: 91px;
$mobile-margins: 16px;
$talk-card-margin: 32px;
