@import "../../variables";

.container {
  @include adapt-width;

  border-radius: 4px;
  background-color: #fff;
  padding: 48px 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  .titleContainer {
    .title {
      color: $charcoal-grey;
      font-family: "Source Code Pro";
      font-size: 40px;
      font-weight: bold;
      line-height: 50px;
      margin: 0 0 8px 0;
    }
    .subtitle {
      color: $steel-grey;
      font-family: "Source Code Pro";
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      text-transform: uppercase;
      @media (max-width: $breaking-point) {
        margin-bottom: 32px;
      }
    }
  }

  .sponsors {
    display: flex;
    flex-grow: 1;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    @media (max-width: $breaking-point) {
      flex-direction: column;
    }
    li {
      list-style: none;
      margin: 0;
      margin: 24px;
      img {
        height: 38px;
      }
    }
  }

  .button {
    color: #ffffff;
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
    text-align: center;
    border: 0;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #000;
    text-transform: uppercase;
    min-height: 40px;
    &:hover {
      background-color: $cornflower-two;
      cursor: pointer;
    }
  }
}
